<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/kawzar/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="kawzar" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>